body{
    background-color:#dfddc7;
}
.jumbotron{
        padding-top: 110px;
        background-image:url('table-on-wooden-plank-326279.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color:#f39422;
        text-align:left;
        height:150px;
    }
.black-background {
    background-color:#042f4b;
    color:white;
}
.white {
    color:#ffffff;
}
#navbarSupportedContent{
    
    padding-left:150px;
}

li{
    margin-left:50px;
}
li:hover{
    background-color: #bbbbbb;
}
.navbar-brand{
    width: 100px;
    font-family:comic sans-serif;
    font-size: 30px;
}


